beautifulsoup4
speechrecognition
pyttsx3
google-cloud-texttospeech
simpleaudio
openai==0.28
pyaudio
python-dotenv
selenium
googlesearch-python
django
pytz
PyJWT
djangorestframework
django-cors-headers
psycopg2
Pillow
imagehash
channels
uvicorn
django-q
asynctest
daphne
